<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://kit.fontawesome.com/64a5181ca4.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../js/jquery-3.6.2.min.js"></script>
    <script type="text/javascript" src="../js/subList.js"></script>

    <link rel="stylesheet" href="../dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../dist/css/dashboard.css">
    <link rel="stylesheet" href="../css/main-2.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/subList.css">

    <style>
        .container{
            width: 1300px;
            padding: 0;
        }
        .top_nav_margin{
            margin-left: 120px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav top_nav_margin navbar-nav">
                    <li id="ml1"><a href="#">Ours</a></li>
                    <li id="ml2"><a href="#Front-End">Front-End</a></li>
                    <li id="ml3"><a href="#Back-End">Back-End</a></li>
                    <li id="ml4"><a href="#Coding-Test">Coding-Test</a></li>
                    <li id="ml5"><a href="#Service">Service</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form navbar-right">
                            <input type="text" class="form-control" placeholder="Search...">
                        </form>
                    </li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa-regular fa-user"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Log-In</a></li>
                            <li><a href="#">Sign-In</a></li>
                            <li><a href="#">Log-Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <!-- 하위 메뉴 -->
    <div>
        <div id="sub_menu1" class="sub_list">
            <ul class="nav">
                <li><a href="#">사이트소개</a></li>
                <li><a href="#">관리자소개</a></li>
                <li><a href="#">히스토리</a></li>
            </ul>
        </div>
        <div id="sub_menu2" class="sub_list">
            <ul class="nav">
                <li><a href="">HTML5</a></li>
                <li><a href="">CSS3</a></li>
                <li><a href="">JavaScript</a></li>
                <li><a href="">jQuery</a></li>
                <li><a href="">JSP</a></li>
                <li><a href="">AJAX</a></li>
            </ul>
        </div>
        <div id="sub_menu3" class="sub_list">
            <ul class="nav">
                <li><a href="">Java</a></li>
                <li><a href="">DataBase</a></li>
                <li><a href="">미정(모델링)</a></li>
                <li><a href="">Spring</a></li>
            </ul>
        </div>
        <div id="sub_menu4" class="sub_list">
            <ul class="nav">
                <li><a href="">Coding-Test</a></li>
                <li><a href="">미정(사용방법)</a></li>
            </ul>
        </div>
        <div id="sub_menu5" class="sub_list">
            <ul class="nav">
                <li><a href="">커뮤니티</a></li>
                <li><a href="">공지사항</a></li>
                <li><a href="">시험일정</a></li>
                <li><a href="">문의하기</a></li>
            </ul>
        </div>
    </div>

    <div class="banner">
        <a href="#"><img src="../img/배너예제.jpg" alt=""></a>
    </div>

    <section>
        <div class="subjectIcon_wrapper">
            <div class="subjectIcon">
                <a href="#">
                    <img src="../img/html5.png" alt="">
                    <p>HTML5</p>
                </a>
            </div>
            <div class="subjectIcon">
                <a href="#">
                    <img src="../img/css3.png" alt="">
                    <p>CSS3</p>
                </a>
            </div>
            <div class="subjectIcon">
                <a href="#">
                    <img src="../img/javascript.png" alt="">
                    <p>Javascript</p>
                </a>
            </div>
            <div class="subjectIcon">
                <a href="#">
                    <img src="../img/jquery.png" alt="">
                    <p>jQuery</p>
                </a>
            </div>
        </div>
        <div class="subjectIcon_wrapper">
            <div class="subjectIcon">
                <a href="#">
                    <img src="../img/java.png" alt="">
                    <p>Java</p>
                </a>
            </div>
            <div class="subjectIcon">
                <a href="#">
                    <img src="../img/oracle.png" alt="">
                    <p>ORACLE</p>
                </a>
            </div>
            <div class="subjectIcon">
                <a href="#">
                    <img src="../img/jsp.png" alt="">
                    <p>JSP</p>
                </a>
            </div>
            <div class="subjectIcon">
                <a href="#">
                    <img src="../img/tomcat.png" alt="">
                    <p>TOMCAT</p>
                </a>
            </div>
        </div>
    </section>

    <footer class="viewPage_footer">
        <div class="ft_wrap">
            <div class="footer_first">
                <a href="">이용약관</a>
                <span>|</span>
                <a href=""><strong>개인정보처리방침</strong></a>
                <span>|</span>
                <a href="">제휴신청</a>
                <span>|</span>
                <a href="">개발자포럼</a>
                <span>|</span>
                <a href="">개발자채용</a>
            </div>
            <div class="footer_second">
                <div><a href="http://www.naver.com">NAVER</a></div>
                <span>
                    Copyright © 
                    <a href="http://www.naver.com"><strong>NAVER Corp.</strong></a>
                    All Rights Reserved.
                </span>
            </div>  
        </div>
    </footer>


    <script src="../dist/js/bootstrap.min.js"></script>

</body>
</html>